<div id="form">
  <h2>Edit your profile, {{ this.username }}</h2>
  <div>
    <form action="/edit-profile" method="POST">

    <label> First Name
      <input type="text" name="firstName" placeholder="{{this.firstName}}" />
    </label>

    <label> Last Name
      <input type="text" name="lastName" placeholder="{{this.lastName}}" />
    </label>

    <label> Username
      <input type="text" name="username" placeholder="{{this.username}}" />
    </label>

    <label for="">Update image</label>
     <input type="file" name="profileImage" value="{{this.profileImage}}">

    <label> Bio
    {{#if this.userBio}}
      <input type="text" name="userBio" placeholder="{{this.userBio}}" />
    {{else}}
      <input type="text" name="userBio" placeholder="Write something about yourself, and let the community know who you are!" />
    {{/if}}
    </label>

    <button type="submit">Update profile</button>

    <form action="/delete-profile" method="POST" class=""><button>Delete Profile 😱</button></form>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  </div>
  <div></div>
</div>