<h1 class="title">My Cookbook</h1>
<h2 class="subtitle">The best amateur Chef and Home Cook Community</h2>

{{!-- <div class="grid">
    {{#each users}}
    <p>{{ this.username }}</p>
    <p>{{ this.id }}</p>
    <p>{{ this.id }}</p>
    {{/each}}
</div> --}}

<div class="grid">
    {{#each recipes}}
    <div><a href="/{{this._id}}">
        <img src= {{ this.image}}>
        <h4>{{ this.title }}</h4>
        <p>by {{ this.creator.username }}</p>
    </a></div>
    {{/each}}
</div>