<div>
    <div>
        <h2 id="welcome"> Welcome, {{ user.username }}!</h2>
        <img src="{{ user.profileImage }}" alt="{{ user.username }}" width="300">
    </div>
    
    <p>Something about you: <br> {{ user.userBio }}</p>
    <br>
    <div>
        <a href="/edit-profile"><button class="edit-btn" type="button">Edit Profile</button></a>
    </div>
    <br>
    <div>
        <a href="/recipes/create"><button class="edit-btn" type="button">Add Recipe</button></a>
    </div>
</div>
<br>


<div class="grid">
    {{#each user.userRecipes}}
    <div style="background-image: {{ this.image }}">
        <h4>{{ this.title }}</h4>
        <a href=`/recipes/{{ this.id }}`>Read Recipe</a>
    </div>
    {{/each}}
</div>


<div>
    {{!-- <a href="/logout" class="text-custom-blue-500">Log out 👋</a> --}}
    <form action="/logout" method="POST" class=""><button>Logout 👋</button></form>
</div>