<div>

    <div>

        {{#each allRrcipes}}
        <div>
            <div >
                <img  src="{{image_url}}" alt="">
                <div>
                            <h3>{{title}}</h3>
                            <h5>{{creator}}</h5>
                            <h5>{{created date}}</h5>
                            <p>{{ingredients}}</p>
                            <p>{{instructions}}</p>
                            <p>{{comments}}</p> // comment must be changed
                 <div>
                </div>
            </div>
        </div>
        {{/each}}
     </div>
   
    <hr>
    <a href="/">Back to Home page</a>
</div>
