<div>

    <div>

        {{#each allRrcipes}}
        <div>
            <div >
                <img  src="{{image_url}}" alt="" width="300">
                <div>
                <h3>{{title}}</h3>
                <ul>
            <li>{{ cook time }}</li>
            <li>{{ creator }}</li>
            <li>{{ created date }}</li>
                </ul>
             <p>{{ingredients}}</p>
            <p>{{instructions}}</p>
                 <div>
                </div>
            </div>
        </div>
        {{/each}}
     </div>


     {{!-- if there are comments, show them, if not, forget about it 🙃 --}}
{{#if changeableComments}}
  <h3>Reviews:</h3>
  {{#each changeableComments}}
  <div style="display: flex;">
     <p> <b>{{ this.user }} said: </b> {{ this.comment }}</p>
    {{#if this.isChangeable}}
      <a href="/comments/edit/{{this._id}}">Edit</a>
      <form action="/comments/delete/{{this._id}}" method="POST">
        <button type="submit"> Delete </button>
      </form>
  </div>
   
    {{/if}}
  {{/each}}
{{/if}}

<hr>
{{!-- USER CAN NOT LEAVE COMMENTS ON THEIR OWN PROPERTIES --}}
{{!-- this means that only if the user IS NOT the owner, this form will be shown --}}
{{#if isNotOwner}}
  <h2>Add a comment:</h2>
  <form action="/comments/create/{{recipe._id}}" method="POST">
    <textarea name="comment" id="" cols="10" rows="5"></textarea>
    <button type="submit">Add</button>
  </form>
</div>
    <hr>
    <a href="/">Back to Home page</a>
</div>
