<div>
    <img src= {{ user.profileImage}}/>
    <h2>Welcome, {{ user.username }}!</h2>
    <p>{{ user.userBio }}</p>
    <div>
        <a href="edit-profile"><button class="edit-btn" type="button">Edit Profile</button></a>
    </div>
</div>

<div class="grid">
    {{#each user.userRecipes}}
    <div style="background-image: {{ this.image }}">
        <h4>{{ this.title }}</h4>
        <a href="recipe-detail">Read Recipe</a>
    </div>
    {{/each}}
</div>