<h1>Edit the {{ title }} recipe</h1>

<form action="/recipes/{{ id }}/edit" method="POST"  enctype="multipart/form-data">
  <label for="">Update image</label>
  <input type="file" name="recipeImage" id="" value="{{ recipeImage }}">
  
  <label for="">Recipe Name</label>
  <input type="text" name="title" id="" value="{{ title }}">

  <label for="">creator</label>
  <input type="text" name="creator" id="" value="{{ creator }}">
  
  <label for="">Ingredients</label>
  <textarea name="ingredients" id="" value="{{ ingredients }}" cols="30" rows="10">{{ ingredients }}</textarea>
  
  <label for="">instructions</label>
  <textarea name="instructions" id=""  value="{{ instructions }}"cols="30" rows="10">{{ instructions }}</textarea>

  

  <button type="submit">Update recipe</button>
</form>