<h1>Edit a recipe</h1>

<form action="/recipes/{{ id }}/edit" method="POST"  enctype="multipart/form-data">
  <label for="">Update image</label>
  <input type="file" name="imageUrl" id="" value="{{ imageUrl }}">
  
  <label for="">Recipe Name</label>
  <input type="text" name="name" id="" value="{{ recipeName }}">

  <label for="">cook time</label>
  <input type="text" name="name" id="" value="{{ cook time }}">

  <label for="">creator</label>
  <input type="text" name="name" id="" value="{{ creator }}">

  <label for="">created date</label>
  <input type="text" name="name" id="" value="{{ created date }}">
  
  <label for="">Ingredients</label>
  <textarea name="ingredients" id="" cols="30" rows="10" value="{{ ingredients }}"></textarea>
  
  <label for="">instructions</label>
  <textarea name="instruction" id="" cols="30" rows="10" value="{{ instructions }}"></textarea>

  

  <button type="submit">Create recipe</button>
</form>